##### 过滤的文件
Readme.txt
admin/money.php

npm-debug.log


##### 过滤的文件夹
# 编辑器文件夹
.idea/

# 废弃的文件
0000/

# 实验用文件夹
allForOne/

# Bower 模块管理
bower_components/

# Grunt 工具配置文件
Gruntfile.js

# NodeJS 模块
node_modules/
package.json

# Express 生成文件
app.js
bin/
public/
routes/
views/

# NodeJS 测试代码
node/node_modules/
node/views/

# JS 库文件
script/lib/
script/plugin/
script/test/
script/compress.bat
script/test.js
script/lib.inc.js

# CSS 库文件
style/lib/

# 废弃的 less 文件
less/0/

# 图片
image/

# 杀人游戏 未完成 延迟
mafia/

# 音频 视频
media/

# Cocos2d-html5
cocos2d/
game/

# 数据库文件
sql/