@charset "utf-8";

@import "../lib/color.less";
@import "../lib/grid.less";
@import "../lib/z-index.less";

//----- filter 过滤器 -----
/*  example:
	<div class="filter" id="Filter">
		<button class="btn icon icon-filter filter_setBtn" id="setFilter" type="button" value="">过滤</button>
		<button class="btn icon icon-reset filter_resetBtn hidden" id="resetFilter" type="button" value="">重置</button>
		<div class="filter_tagArea" id="filterTagArea">
			<div class="filter_checked" id="filterChecked"></div>
			<div class="filter_all hidden" id="filterAll"></div>
		</div>
	</div>
 */
.filter{
    position: relative;
}
.filter_tagArea{
	clear: both;
}

.filter_checked{    // 当前过滤标签
    overflow: hidden;

	clear: both;

	.filter_tag{
		margin: 0 @space @space 0;
	}
}
.filter_all{    // 全部过滤标签区域
    overflow: auto;

    position: absolute;
    z-index: @z-filter-all;

    left: @filter-all-tag-left;

    height: @filter-all-tag-height;

    padding-left: @filter-all-tag-padding;

	background: @filter-all-bg;
}
.filter_tag{    // 过滤标签
    float: left;

    border-radius: @border-radius;

	margin: 0 @filter-tag-margin @filter-tag-margin 0;
    padding: 0 @padding-lr;

	background: @filter-tag-bg;

	line-height: @line-height;
}
.filter_tag-checked{    // 过滤标签——已选中状态
    background: @filter-tag-checked-bg;
    color: @font-color;
}