@charset "utf-8";

@import "../lib/color.less";
@import "../lib/grid.less";
@import "../lib/z-index.less";

//----- filter 过滤器 -----    todo
/*  组件用到了倒计时 countdown 组件
    example:
	<div class="filter" id="Filter">
		<button class="btn icon icon-filter filter_setBtn" id="setFilter" type="button" value="">过滤
            <span id="filterCd" class="countdown hidden">
				<span class="cd_quarter quarter_1"></span>
				<span class="cd_quarter quarter_2"></span>
				<span class="cd_quarter quarter_3"></span>
				<span class="cd_quarter quarter_4"></span>
				<span id="filterCdNum" class="cd_num">0</span>
			</span>
		</button>

		<button class="btn icon icon-reset filter_resetBtn hidden" id="resetFilter" type="button" value="">重置</button>
		<div class="filter_tagArea" id="filterTagArea">
			<div class="filter_checked" id="filterChecked"></div>
			<div class="filter_all hidden" id="filterAll"></div>
		</div>
	</div>
 */
.filter{
    position: relative;

	/**
	 * @extend    countdown.less
	 */
	.countdown{
		position: absolute;
		top: 0;
		right: 5px;

		height: 22px;
		width: 22px;

		border: 0;
		margin: 2px 0;

		background: #fff;
	}
	.cd_quarter{
		background: #efefef;
	}
	.cd_num{
		color: #44cef6;
		line-height: 22px;
	}
}
.filter_setBtn{
	position: relative;
}
.filter_setBtn-cd{  // 启动倒计时
	padding-right: 30px;

	.countdown{
		display: inline;
	}
}
.filter_tagArea{
	clear: both;
	float: left;
	width: 100%;

	&:before{
		content: "";
	}
}

.filter_checked{    // 当前过滤标签
    overflow: hidden;

	clear: both;

	margin-left: 10px;
	padding-left: 5px;

	background: @filter-checked-bg;
}
.filter_all{    // 全部过滤标签区域
    overflow: auto;

    position: absolute;
    z-index: @z-filter-all;

    left: @filter-all-tag-left;

    height: @filter-all-tag-height;

    padding-left: @filter-all-tag-padding;

	background: @filter-all-bg;
}
/*label*/.filter_tag{    // 过滤标签
    float: left;

    border-radius: @border-radius;

	margin: @filter-tag-margin;
    padding: 0 @padding-lr;

	background: @filter-tag-bg;

	font-weight: bold;
	line-height: @line-height;
}
.filter_tag-checked{    // 过滤标签——已选中状态
    background: @filter-tag-checked-bg;
    color: @font-color;
}