@charset "utf-8";

//----- message 消息 -----
.msg{
	min-height:70px;
    margin:0;
    padding-left:80px;
    font-size:35px;
    line-height:200%;
    background:no-repeat;
}
.msg-tips{// 提示
    background-image:url("../image/default/Msg-tips.png");
}
.msg-warm{// 警告
    background-image:url("../image/default/Msg-error.png");
}
.msg-success{// 成功

}
.msg-fail{// 失败

}

////提示信息
//#info{width:200px; height:38px; padding:20px 0 20px 100px; background-repeat:no-repeat;}

////表情
//.admire{.lookBg("admire")}//欣赏
//.welcome{.lookBg("welcome")}//欢迎
//.error{.lookBg("error")}//未知错误
//.wrong{.lookBg("wrong")}//用户错误