@charset "utf-8";

@import "../lib/color.less";

//----- message 消息 -----
/*p*/.msg{
	position: relative;

	min-height: 110px;

    margin: 0 0 0 70px;
	padding: 30px 10px 10px;

	font-size: 30px;
	line-height: 200%;
	text-indent: 2em;

	&:before{
		position: absolute;
		top: 0;
		left: -70px;

		width: 70px;
		height: 100%;

		background-repeat: no-repeat;
		background-position: center center;

		content: "";
	}
}

.msg-success:before{    // 成功
	background-image: url("../image/default/success.png");
	background-color: darken(@success, 20%);
}

.msg-error:before{  // 错误
	background-image: url("../image/default/error.png");
	background-color: darken(@error, 20%);
}