@charset "utf-8";

@import "../lib/color.less";
@import "../lib/grid.less";
@import "../lib/z-index.less";

//---------- Rss 订阅 ----------
.module-rss{
	background-image: url("../image/metro/Rss.png");

	.module_title{
		background-image:url("../image/default/rss.png");
	}

	.module_content{
		margin-bottom: -@space;
	}
}

.rss_list{
//	float: left;

//	width: 30%;
//	min-width: 100px;

	li{
		background: @c29;
	}

	a{
		display: block;
		overflow: hidden;

		width: 100%;

		margin: 0 5px;

		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;

		white-space: nowrap;
	}
}
.rss_content{
	overflow: hidden;

	border-bottom: 10px solid white;

	margin-right: -10px;
	margin-top: 10px;
	padding-left: 10px;

	background-color: white;
}

.rss_articleList{
	overflow: hidden;

	margin-bottom: -10px;
	margin-top: 10px;

	li{
		float: left;
		border: 10px dashed @c35;
		border-left: 0;
		border-top: 0;
		margin-bottom: 0;
		background: white;

		padding: 0;
		width: 300px;
	}
}